# VITE_GEMINI_API_KEY: Required for Gemini AI API calls on the client side.
VITE_GEMINI_API_KEY=""

# Qobuz API Credentials
# These are required to access Qobuz data directly from the client.
VITE_QOBUZ_APP_ID=""
VITE_QOBUZ_APP_SECRET=""
VITE_QOBUZ_USER_TOKEN=""
